In [2]:
import pandas as pd

In [3]:
my_df = pd.read_csv('..\data\datamadpt_0924 - martin.csv')

In [4]:
my_df

,1. Teams,Unnamed: 1,Unnamed: 2
0,Stores information about soccer teams.,NaN,NaN
1,NaN,NaN,NaN
2,Field Name,Meaning,Example
3,TeamID,Unique identifier for the team.,"1, 2, 2003"
4,TeamName,Name of the soccer team.,"Manchester United, ""Real Madrid"""
...,...,...,...
99,Field Name,Meaning,Example
100,VenueID,Unique identifier for the venue.,"301, 302, 303"
101,VenueName,Name of the venue.,"Old Trafford, ""Santiago Bernabeu"""
102,City,City where the venue is located.,"Manchester, ""Madrid"""
103,Capacity,Seating capacity of the venue.,"75000, 81000"

In [5]:
df_teams = pd.read_csv('..\data\mis_datos\Teams_Table.csv')
df_players = pd.read_csv('..\data\mis_datos\Players_Table.csv')
df_matches = pd.read_csv('..\data\mis_datos\Matches_Table.csv')
df_events = pd.read_csv('..\data\mis_datos\Events_Table.csv')
df_goals = pd.read_csv('..\data\mis_datos\Goals_Table.csv')
df_assists = pd.read_csv('..\data\mis_datos\Assists_Table.csv')
df_tournaments = pd.read_csv('..\data\mis_datos\Tournaments_Table.csv')
df_venues = pd.read_csv('..\data\mis_datos\Venues_Table.csv')
df_player_stats = pd.read_csv('..\data\mis_datos\PlayerStats_Table.csv')
df_team_stats = pd.read_csv('..\data\mis_datos\TeamStats_Table.csv')

## TEAMS TABLE

In [7]:
df_teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TeamID       100 non-null    object
 1   TeamName     100 non-null    object
 2   CoachName    100 non-null    object
 3   Country      100 non-null    object
 4   FoundedYear  100 non-null    int64
dtypes: int64(1), object(4)
memory usage: 4.0+ KB

In [25]:
df_teams["TeamID"].nunique()

100

## PLAYERS TABLE

In [15]:
df_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PlayerID     100 non-null    object
 1   PlayerName   100 non-null    object
 2   TeamID       100 non-null    object
 3   Position     100 non-null    object
 4   BirthDate    100 non-null    object
 5   Nationality  100 non-null    object
dtypes: object(6)
memory usage: 4.8+ KB

In [27]:
df_players["PlayerID"].nunique()

100

## MATCHES TABLE

In [16]:
df_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MatchID       100 non-null    object
 1   TournamentID  100 non-null    object
 2   VenueID       100 non-null    object
 3   Date          100 non-null    object
 4   HomeTeamID    100 non-null    object
 5   AwayTeamID    100 non-null    object
 6   FinalScore    100 non-null    object
dtypes: object(7)
memory usage: 5.6+ KB

In [28]:
df_matches["MatchID"].nunique()

100

## EVENTS TABLE

In [17]:
df_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   EventID    100 non-null    object
 1   MatchID    100 non-null    object
 2   PlayerID   100 non-null    object
 3   EventType  100 non-null    object
 4   Minute     100 non-null    int64
dtypes: int64(1), object(4)
memory usage: 4.0+ KB

In [29]:
df_events["EventID"].nunique()

100

## GOALS TABLE

In [18]:
df_goals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   GoalID    100 non-null    object
 1   MatchID   100 non-null    object
 2   PlayerID  100 non-null    object
 3   TeamID    100 non-null    object
 4   Minute    100 non-null    int64
dtypes: int64(1), object(4)
memory usage: 4.0+ KB

In [30]:
df_goals["GoalID"].nunique()

100

## ASSISTS TABLE

In [19]:
df_assists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   AssistID  100 non-null    object
 1   MatchID   100 non-null    object
 2   PlayerID  100 non-null    object
 3   TeamID    100 non-null    object
 4   Minute    100 non-null    int64
dtypes: int64(1), object(4)
memory usage: 4.0+ KB

In [31]:
df_assists["AssistID"].nunique()

100

## TOURNAMENT TABLE

In [20]:
df_tournaments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TournamentID  100 non-null    object
 1   Name          100 non-null    object
 2   StartDate     100 non-null    object
 3   EndDate       100 non-null    object
dtypes: object(4)
memory usage: 3.2+ KB

In [32]:
df_tournaments["TournamentID"].nunique()

100

## VENUES TABLE

In [21]:
df_venues.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   VenueID    100 non-null    object
 1   VenueName  100 non-null    object
 2   City       100 non-null    object
 3   Capacity   100 non-null    int64
dtypes: int64(1), object(3)
memory usage: 3.2+ KB

In [33]:
df_venues["VenueID"].nunique()

100

## PLAYER STATS TABLE

In [22]:
df_player_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StatID         100 non-null    object
 1   MatchID        100 non-null    object
 2   PlayerID       100 non-null    object
 3   MinutesPlayed  100 non-null    int64
 4   Goals          100 non-null    int64
 5   Assists        100 non-null    int64
 6   PassAccuracy   100 non-null    float64
 7   ShotsOnTarget  100 non-null    int64
dtypes: float64(1), int64(4), object(3)
memory usage: 6.4+ KB

In [34]:
df_player_stats["StatID"].nunique()

100

## TEAM STATS TABLE

In [23]:
df_team_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TeamStatID     100 non-null    object
 1   MatchID        100 non-null    object
 2   TeamID         100 non-null    object
 3   Possession     100 non-null    float64
 4   Shots          100 non-null    int64
 5   ShotsOnTarget  100 non-null    int64
 6   Fouls          100 non-null    int64
dtypes: float64(1), int64(3), object(3)
memory usage: 5.6+ KB

In [36]:
df_team_stats["TeamStatID"].nunique()

100

## Conclusiones:
 - Ningun id se repite en ninguna tabla (pk)
 - No hay nulos